/* @import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap'); */
@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Noto Naskh Arabic", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#root {
  /* padding: 3px; */
  min-height: 100vh;
  display: flex;
  /* background: radial-gradient(circle at top, #3C23CA, #cdc16d , #8b4a2e); */
  background-size: contain;
  animation: liquidMove 23s ease-in-out infinite;
}

/* animation */
@keyframes liquidMove {
  0% {
    background-position: 50% 50%;
  }

  25% {
    background-position: 60% 40%;
  }

  50% {
    background-position: 40% 60%;
  }

  75% {
    background-position: 70% 30%;
  }

  100% {
    background-position: 50% 50%;
  }
}